<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-cliente">
    <link  rel="import" type="css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <template>
    <div class="container">
      <div class="row">
          <h1>Gestor de cliente</h1>
      </div>
      <div class="row">
        <button on-click="obtenerClientes" class="btn btn-success" type="button" name="button">Obtener clientes</button>
        <button on-click="addCliente" class="btn btn-success" type="button" name="button"><i class="far fa-user"></i>Agregar clientes</button>
        <table class="table table-striped col-lg-12 col-xs-12">
          <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Pais</th>
          </thead>
          <tbody>
            <template is="dom-repeat" items="{{clientes}}" as="cliente">
                <tr>
                    <td>{{cliente.CustomerID}}</td>
                    <td>{{cliente.ContactName}}</td>
                    <td>{{cliente.Country}}</td>
                </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorCliente extends Polymer.Element {
      static get is() { return 'gestor-cliente'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
            // value() {
            //     var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
            //     var request = new XMLHttpRequest();
            //     request.open("GET", url, false);
            //     request.setRequestHeader("Accept","application/json");
            //     request.send();
            //   return JSON.parse(request.responseText).value;
            // }
          }
        };
      }
      obtenerClientes() {
        var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        var request = new XMLHttpRequest();
        request.open("GET", url, false);
        request.setRequestHeader("Accept","application/json");
        request.send();
        this.clientes = JSON.parse(request.responseText).value;

        console.log(this.clientes);
      }
      addCliente(){ 
        var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        var request = new XMLHttpRequest();
        request.open("POST", url, false);
        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("Content-Type","application/json");

        var nuevoCliente = {"CustomerID":"1234","ContactName":"Pepito", "CompanyName":"Pepe Bar"}
        var body = JSON.stringify(nuevoCliente)

        request.send(body);
        this.respuesta = request.responseText();

        console.log(this.respuesta);
      }
    }

    window.customElements.define(GestorCliente.is, GestorCliente);
  </script>
</dom-module>
